* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
}

header,
footer {
  background: #185873;
  color: #fff;
  text-align: center;
  padding: 1.5em;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.hero img {
  width: 100%;
}
.cta-link {
  background-color: #35708ac6;
  padding: 15px;
  font-weight: bold;
  border-radius: 10px;
  color: #fff;
  text-decoration: none;
}
.cta-link:hover {
  background-color: #1f414fc6;
}

img {
  border-radius: 10px;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

nav ul li {
  margin: 0 1em;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

#menu-toggle {
  display: none;
}

main {
  padding: 1em;
}
.events {
  margin: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c5def9a8;
  border-radius: 10px;
}
.events > ul > li {
  list-style: none;
}

.weather {
  margin: 5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #c5def9a8;
  border-radius: 10px;
}
.weather div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.weather > ul > li {
  list-style: none;
}

.menu {
  margin: 1rem auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  background-color: #bed;
  text-align: center;
}

/* Spotlight */

#spotlight-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.spotlight-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 20px;
  width: 250px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
@media (min-width: 1140px) {
  .spotlight-card {
    width: 400px;
  }
}

.spotlight-logo {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.spotlight-card h3 {
  font-size: 1.2em;
  margin-top: 10px;
}

.spotlight-card p {
  margin: 5px 0;
}

.spotlight-card a {
  color: #007bff;
  text-decoration: none;
}

/* Join Page */

.membership-cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
  background-color: #e0e0e0;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.joinPage {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin: 1.5rem;
}

form {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input {
  width: 100%;
  height: 30px;
}
label {
  width: 100%;
}

/* Thank You page */
.completedApplication {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.listApplication {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-bottom: 5rem;
}

@media (max-width: 768px) {
  nav ul {
    display: none;
    flex-direction: column;
  }

  #menu-toggle {
    display: block;
    background: #444;
    color: #fff;
    padding: 1em;
    cursor: pointer;
  }

  #menu.show {
    display: flex;
  }

  .joinPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  input {
    width: 100%;
  }
}
